@media only screen and (min-width:480px) and (max-width:599.99px){
    body{background: #ff0000;}
    body header .row{
        background: #fff;
        width: 100%;
        display: flex;
        line-height: 25px;
        justify-content: space-between;
        align-items: center;
    }
    body header .row>div{
        background: #5900ff;
        margin: 10px;
        padding: 10px;
        font-size: 30px;
    }
    #nav-user{order:3;}
    #logo{order: 2;}
    #nav-bar{order: 1;}
    #frm-search{display: none;}

    body main #banner{
        background: #00ff22;
        width: 100%;
        height: 140px;
        font-size: 40px;
        text-align: center;
        margin-top: 15px;
    }

    body main #teaser{
        width: 100%;
        height: 140px;
        background: #ff00ea;
        font-size: 40px;
        align-items: center;
        display: flex;
    }
    body main #teaser>div{
        background: #5900ff;
        margin: 10px;
        padding: 10px;
        font-size: 50px;
        margin-left: 65px;
    }
    .video3{display: none;}
    .video4{display: none;}
    .video5{display: none;}
    
    

}
@media only screen and (min-width:800px) and (max-width:1023.99px){
    body{
        background: #ff0000;
    }
}
@media only screen and (min-width:1200px) and (max-width:1380px){
    body{
        background: #ff0000;
    }
    body header .row{
        background: #fff;
        width: 95%;
        margin: 5px;
        padding: 5px;
        font-size: 30px;
        line-height: 75px;
        
    }
    body header .row{}
   
}